body{
    font-family: 'Times New Roman', Times, serif;
}
/* Header con pattern e logo */
header {
    background-color: cornflowerblue;
    background-image: url("../img/pattern.png");
    height: 175px;
}
#logo{
    width: 200px;
    height: 175px;
    position: relative;
    padding-top: 50px;
}
/* posizione titolo */
h5, h6{
    margin: 0px;
}
/* Immagini articolo */
.foto{
    padding-top: 20px;
}
/* Tabella 
#tabella tr{
       background-color: aqua;
   }
#tabella th{
    background-color: blue;
}*/

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
  }
th{
    background-color: aqua;
}
/* Footer */
footer{
    color: grey;
}